/* You can add global styles to this file, and also import other style files */

.navbar-dark{
  background-color: #7952B3 !important;
}

.text-primary{
  color: #7952B3 !important;
}

.btn-primary{
  background-color: #7952B3 !important;
  border-color: #7952B3 !important;
}
